body {
    font-family: Arial;
    background-image: linear-gradient(to right, rgb(242, 140, 23) , rgb(255, 255, 182));
  }
  #heading {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 3vw;
  }

  * {
    box-sizing: border-box;
  }

  img#slides {
    width: 50%;
    height: auto;
    border: 1px solid black;
    box-shadow: 0rem 0.05rem 0.5rem;
  }

  .container {
    display: inline-block;
    position: relative;
  }

  .demo {
    opacity: 0.7;
    cursor: pointer;
    max-width: 100%;
    height: auto;
    width: 100%;
  }

  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top:50%;
    width: auto;
    height: auto;
    padding: 16px;
    margin-top: -5vw;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
  }
  .prev {
    left: 0%;
  }
  .next {
    border-radius: 3px 0 0 3px;
    right: 50%;
  }

  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    transition-duration: 0.4s;
  }

  .numbertext {
    color: #f2f2f2;
    background-color: black;
    font-size: 1.5vw;
    padding: 8px 12px;
    position: absolute;
    top: 10px;
    left: 1%;
    border: 2px solid black;
    border-radius: 50%;
  }

  .caption-container {
    float: right;
    position: relative;
    top:-39.5vw;
    width: 50%;
    height: 39.5vw;
    text-align: center;
    background-color: rgb(249, 235, 200);
    color: rgb(72, 35, 35);
    font-size: 1.4vw;
    font-family: Georgia, "Times New Roman", Times, serif;
    border: 2px groove brown;
    padding: 2vw;
  }
  b{
    text-decoration: underline 2px;
  }
  
  #caption{
    height: 35vw;
    position: relative;
    top: 2vw;
  }
  .row {
    position: relative;
    top:-38vw;
    display: flex;
    width: 100%;
    border: 1px groove brown;
    background-color: #f3df98;
  }
  .active,
  .demo:hover {
    opacity: 1;
    transition-duration: 0.5s;
    border: 1px solid brown;
  }
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
}