body {
      font-family: Arial;
      background-image: url("./assets/background.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      height: 50rem;
    }
    #heading {
      text-align: center;
      font-family: "Times New Roman", Times, serif;
      font-size: 4vw;
    }

    * {
      box-sizing: border-box;
    }

    img#slides {
      display: block;
      width: 50%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
      border: 3px solid black;
    }

    .container {
      position: relative;
    }

    .mySlides {
      display: none;
    }

    .demo {
      opacity: 0.7;
      cursor: pointer;
      max-width: 100%;
      height: auto;
      width: 100%;
    }

    .prev,
    .next {
      cursor: pointer;
      position: absolute;
      top: 40%;
      width: auto;
      padding: 16px;
      margin-top: -50px;
      color: white;
      font-weight: bold;
      font-size: 20px;
      border-radius: 0 3px 3px 0;
    }
    .prev {
      left: 25%;
    }
    .next {
      border-radius: 3px 0 0 3px;
      right: 25%;
    }

    .prev:hover,
    .next:hover {
      background-color: rgba(0, 0, 0, 0.8);
      transition-duration: 0.4s;
    }

    .numbertext {
      color: #f2f2f2;
      background-color: black;
      font-size: 1.5vw;
      padding: 8px 12px;
      position: absolute;
      top: 10px;
      left: 26%;
      border: 2px solid black;
      border-radius: 50%;
    }

    .caption-container {
      width: 50%;
      text-align: center;
      background-color: rgb(247, 199, 77);
      color: rgb(72, 35, 35);
      font-size: 2vw;
      font-family: Georgia, "Times New Roman", Times, serif;
      border: 6px groove brown;
      margin: auto;
      margin-bottom: 20px;
    }
    .row {
      display: flex;
      width: 90%;
      margin: auto;
      height: auto;
      justify-content: center;
      border: 3px groove brown;
      background-color: #f3df98;
    }
    .column{
      position: relative;
      top: 2px;
    }

    .active,
    .demo:hover {
      opacity: 1;
      transition-duration: 0.5s;
      border: 3px solid brown;
    }
    .fade {
      animation-name: fade;
      animation-duration: 1.5s;
    }

    @keyframes fade {
      from {
        opacity: 0.4;
      }
      to {
        opacity: 1;
      }
    }
